@import url("https://fonts.googleapis.com/css?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
body,
html {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img2.jpeg"); */
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffcc33,
    #ffb347
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffcc33,
    #ffb347
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 100;
  text-align: center;
  padding-top: 200px;
}

#invalidPasswordTest {
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 30px;
}

#submitButton {
  margin-top: 10px;
}

.bg {
  background-color: white;
  background-position: fill;
  background-size: cover;
}

#nav-bar {
  color: black;
}

.header1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("img2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 150px;
  top: 0;
  left: 0;
  padding-top: 10px;
  text-align: center;
}

H1 {
  font-family: "Rye", cursive;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  color: white;
}

.head-font {
  font-family: "Rye", cursive;
  color: white;
}

H2 {
  text-align: center;
  padding: 10px;
  color: black;
}

H3 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: black;
}

H5 {
  color: black;
  text-align: right;
  margin-right: 10px;
}

#startButton {
  margin: auto;
  display: block;
  font-size: 20px;
}

#startButtonDiv {
  padding: 5px;
  margin: 10px;
}

.buyButton,
.sellButton {
  background-color: #0acf83;
  margin-left: 15px;
  z-index: 10;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-right: 10px;
  padding: 10px;
  color: black;
  border-radius: 25px;
}

.vib-blue {
  color: black;
}

.hintsDiv {
  font-size: 18px;
  margin-right: 7px;
  font-weight: 600;
}

.rightSideDiv {
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #c4e0e5,
    #4ca1af
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #c4e0e5,
    #4ca1af
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  /*margin-right: 10px;*/
}

.leftSideDiv {
  background: #ffb347; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffcc33,
    #ffb347
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffcc33,
    #ffb347
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
}

th {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 17px;
}

td {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 7;
}

input[type="number"] {
  width: 75px;
}

.timerDivOuter {
  text-align: center;
  font-size: 22px;
  margin-right: 7px;
}

.timerDivInner {
  text-align: center;
  font-size: 22px;
  color: #f24e1e;
}

.row {
  margin: 10px;
}

.timer {
  margin: 0;
}

.hintsDiv li {
  margin-bottom: 10px;
}

footer {
  background-color: black;
  text-align: center;
  margin-bottom: 0px;
  height: 30px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

footer h7 {
  color: white;
}
