* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* body {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.main-card {
  /* padding: 0px 40px; */
  /* padding-top: 2px; */
  padding-left: 40px;
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: nowrap;
}
.section1,
.section2 {
  min-width: 50%;
  min-height: 100%;
}
.section2 {
  background-color: #5f64f1;
  color: wheat;
  padding: 40px;
}
.section1 {
  background-color: white;
  padding: 20px;
}
h2 {
  font-weight: 600;
}
.important {
  color: #5f64f1;
}

.rule {
  color: white !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
input {
  display: block;
  width: 60%;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

#invalidPasswordTest {
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 30px;
}
.btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  border: none;
}
@media screen and (max-width: 600px) {
  .main-card {
    flex-direction: column;
    width: 100%;
  }
  .section1,
  .section2 {
    width: 100%;
    height: auto;
  }
  img {
    width: 60%;
  }
  .section1 {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 950px) {
  .main-card {
    flex-direction: column;
    width: 100vw;
  }
}

footer {
  background-color: black;
  text-align: center;
  margin-bottom: 0px;
  height: 30px;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

footer h7 {
  color: white;
}
